{% extends 'layout.html' %}

{% block body %}
  <h1>About me</h1>
  <h3>I am a third year DCU Student studying Computer Science!</h3>
  <p> My interest for computing is fueled by my innovation. I love coming up with new practical app ideas and
      solutions to problems. I enjoy coding and have dealt with a few languages over the years!</p>
  <ul>
    <li>Python</li>
    <li>Java</li>
    <li>SQL</li>
    <li>Android</li>
    <li>XML</li>
    <li>Prolog</li>
    <li>Haskell</li>
    <li>HTML/CSS</li>
    <li>Assembly</li>
  </ul>
{% endblock %}
