{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome to FlaskApp</h1>
    <p class="lead">This webapp was made using python/flask/html and is hosted
    for free on <a href="https://dashboard.heroku.com/apps">heroku</a> and is deployed using
    the source code on my <a href="https://github.com/SoSubtle/Hello-World-Python">github!</a></h3></p>
    <img src="https://fiverr-res.cloudinary.com/t_main1,q_auto,f_auto/gigs/46941709/original/d5ace87ba59d0d4e5151668e60e8eaf673153ff7.jpg">

  </div>
{% endblock %}
