{% extends 'layout.html' %}

{% block body %}
  <h1>One2One NFC Network App</h1>
  <h4>App Goal?</h4>
  <p>What is our application’s goal?
    Our app’s goal is to make connecting easier for people in person by making use of NFC technology and various web API’s. When people make new friends or new contacts in person it can be a long process trying to connect with them on social media as everyone seems to use different types and / or multiple social media accounts . If an individual wants to connect with someone across all their social medias or simply share contact details with them they can do so by simply tapping phones together and the app will handle the rest.
    The social media accounts a user chooses to share are optional. The social media accounts to be shared can be edited and turned off or on at anytime. Users can create share presets, a simple saved selection of accounts to share in certain social settings. For example: A business preset may only share a user’s Name, Email, Number and LinkedIn account. Each user can customize the share presets to display their chosen social networks and contact details.
  </p>
  <h4>Currently the app will send any string inputed into the edittext box to another phone using the app. This app was made using Android/Xml/Java on Android Studio.</h4>
  <iframe width="700" height="534" src="https://www.youtube.com/embed/luz5Vwuh1SI" frameborder="0" gesture="media" allowfullscreen></iframe>

{% endblock %}
